body {
        margin-top:0;
        background-color:#6F0319;
        min-height:300px;
        min-height:600px;

     }
* {box-sizing: border-box;}

.title      {
            position:relative;
            height:35%;
            width:60%;
            background-image:linear-gradient(#ae7400, #da9100);
            margin-left:20%;
            box-shadow: 0px 0px 20px 3px #6F0319 inset;
            }



.results {
                width:60%;
                height:100%;
                margin-left:20%;
                background-image:linear-gradient(#da9100, #ffaf12);
                box-shadow: 0px 0px 20px 7px #6F0319 inset;


         }

.search_box {
                position:absolute;
                width:70%; height:17%;
                font-size:1.6vw;
                padding-left: 5%;
                border-radius: 5em;
                top:68%; left: 15%;
                border: 2px solid #FFD700;
                outline: none;

            }

.employee_info {
            position:relative;
            box-shadow: 0px 0px 20px 0px #6F0319 inset;
            background-image:linear-gradient(#da9100,#FFA500);

            }
            .photo {
                    width:30%;
                   }
            .person {width:60%;}
            .contact_details {
                    display:grid;
                    grid-template-columns: 30% 70%;
                    position:absolute;
                    width:70%;
                    padding-top:1%;
                    padding-left:1%;
                    top:0;
                    right: 0;
                    }
            .contact_details > div {
                            color:white;
                            font-size: 2vw;
                            margin-top:0.6%;
                            }



.checkbox_row {
            position:absolute;
            width:70%;
            height:20%;
            left:15%; top:42%;
              }

.checkbox1 {
            position:absolute;
            border:2px solid #ae7400;
            border-radius:5em;
            width:50%;
            background-color:#6F0319;
            }

.checkbox2 {
            position:absolute;
            border:2px solid #ae7400;
            border-radius:5em;
            width:50%;
            left:50%;
            background-color:#6F0319;
            }




input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  font-size: 1.5vw;
  color:white;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #ae7400;
  background-color:white;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}


input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #da9100;
  border-color: MediumSeaGreen;
  color: #fff;
}

@media all and (max-width:1000px) {

                            .checkbox_row {
                                            width:85%; height:25%;
                                            left:7%; top:42%;
                                              }
                            .search_box {
                                                width:85%; height:17%;
                                                font-size:2vw;
                                                top:68%; left: 7%;
                                            }
                            .checkbox1, .checkbox2 {
                                                    height:70%;
                                                  }
                            input[type=checkbox] + label {
                                                              font-size:2vw;

                                                        }
                            input[type=checkbox] + label:before {
                                                                    width: 0.81em;
                                                                    height: 0.81em;
                                                                }
                            .employee_info {
                                                height:18%;
                                            }
                            .contact_details > div {
                                                        font-size: 2.2vw;
                                                    }




@media all and (max-width:700px) {
                            .title      {
                                            width:80%;
                                            margin-left:10%;
                                        }
                            .results {
                                            width:80%;
                                            margin-left:10%;
                                     }
                            .checkbox_row {
                                            width:85%; height:25%;
                                            left:7%;
                                              }
                            .search_box {
                                                width:85%; height:17%;
                                                font-size:2.5vw;
                                                left: 7%;
                                            }
                            .checkbox1, .checkbox2 {
                                                    height:70%;
                                                  }
                            input[type=checkbox] + label {
                                                              font-size:2.5vw;

                                                        }
                            input[type=checkbox] + label:before {
                                                                    width: 0.81em;
                                                                    height: 0.81em;
                                                                }
                            .employee_info {
                                                height:18%;
                                            }
                            .contact_details > div {
                                                        font-size: 2.7vw;
                                                    }


                                     }
@media all and (max-width:600px) {
                                    .contact_details > div {
                                                            font-size: 3.1vw;
                                                            }
                                    .contact_details    {
                                                            width:80%;
                                                            }
                                    .photo {
                                                width:20%;
                                               }
                                    .person {width:100%;}

                                    .search_box {
                                                font-size:3vw;
                                            }
                                    input[type=checkbox] + label {
                                                              font-size:2.7vw;

                                                        }
                                    input[type=checkbox] + label:before {
                                                                    width: 1em;
                                                                    height: 1em;
                                                                }
                                  }