body {
        margin-top:0;
        background-color:#6F0319;

     }
* {box-sizing: border-box;}

.title      {
            position:relative;
            height:35%;
            width:60%;
            background-image:linear-gradient(#ae7400, #da9100);
            margin-left:20%;
            }



.results {
                height: 65%;
                width:60%;
                margin-left:20%;
                background-image:linear-gradient(#da9100, #ffaf12);
         }

.search_box {
                position:absolute;
                width:70%; height:20%;
                font-size:1.6vw;
                padding-left: 5%;
                border-radius: 5em;
                top:65%; left: 15%;
                border: 2px solid #FFD700;
                outline: none;

            }

.employee_info {
            position:relative;
            border: 2px solid red;
            height: 30%;

            }
            .photo {
                    border: 2px solid black;
                    width:30%;
                    height:100%;
                   }
            .contact_details {
                    display:grid;
                    grid-template-columns: 30% 70%;
                    position:absolute;
                    border: 2px solid white;
                    width:70%; height:100%;
                    padding-top:1%;
                    padding-left:1%;
                    top:0;
                    right: 0;
                    }
            .contact_details > div {
                            color:white;
                            font-size: 1.6vw;
                            height:25%;
                            }



.checkbox_row {
            position:absolute;
            width:70%;
            height:20%;
            left:15%; top:35%;
              }

.checkbox1 {
            position:absolute;
            border:2px solid #ae7400;
            border-radius:5em;
            width:50%;
            background-color:#6F0319;
            }

.checkbox2 {
            position:absolute;
            border:2px solid #ae7400;
            border-radius:5em;
            width:50%;
            left:50%;
            background-color:#6F0319;
            }




input[type=checkbox] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
  font-size: 1.5vw;
  color:white;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label:before {
  content: "\2714";
  border: 0.1em solid #ae7400;
  background-color:white;
  border-radius: 0.2em;
  display: inline-block;
  width: 1em;
  height: 1em;
  padding-left: 0.2em;
  padding-bottom: 0.3em;
  margin-right: 0.2em;
  vertical-align: bottom;
  color: transparent;
  transition: .2s;
}


input[type=checkbox] + label:active:before {
  transform: scale(0);
}

input[type=checkbox]:checked + label:before {
  background-color: #da9100;
  border-color: MediumSeaGreen;
  color: #fff;
}
