{% extends "layout.html" %}

{% block page_title %}
        Login
{% endblock page_title %}


{% block login%}

<div class="big-box">

        <div class="sun">
        </div>

        <form action="/" method="post">
                 <div class="login_div">
                        <input class="email" name="email" type="email" placeholder="Email..."> <br>
                        <input class="password" name="password" type="password" placeholder="Password...">
                        <button type="submit" class="login_button">Log In</button>
                </div>

        </form>
</div>
















{% endblock login%}