{% extends 'layout.html' %}

{% block page_title %}
    SEARCH
{% endblock page_title %}


{% block search %}



<div class="title">
        <form action="search" method="POST">
        <div class="checkbox_row">

        <div class="checkbox1">
                  <input type="checkbox" id="name" name="checkbox" value="name" checked>
                  <label for="name">Search by name!</label>
        </div>
        <div class="checkbox2">
                  <input type="checkbox" id="dep" name="checkbox" value="department">
                  <label for="dep">Search by department!</label>
        </div>

        </div>

            <div class="row">


                    <input name="search_for" placeholder="search by employee" class="search_box">
            </div>
        </form>
 </div>
<div class="results">

    {% for emp in test %}
        <div class="employee_info">

        <div class="photo">
            <img class="person" src="static/person.svg">
        </div>

        <div class="contact_details">
            <div>Name</div><div>{{emp.name}}</div>
            <div>Mobile</div><div>{{emp.email}}</div>
            <div>Extension</div><div>{{emp.department}}</div>
            <div>Email</div><div>{{emp.name}}</div>
            <div>Department</div><div>{{emp.name}}</div>
        </div>

    </div>
    {% endfor %}

</div>



<script src="static/search.js"></script>
























{% endblock search %}