{% extends 'layout.html' %}

{% block page_title %}
    SEARCH
{% endblock page_title %}


{% block search %}



<div class="title">

    <div class="row">
        <input placeholder="search for...." class="search_box">
    </div>

</div>

<div class="results">

    <div class="employee_info">

        <div class="photo">
            PHOTO
        </div>

        <div class="contact_details">
            <p>mobile</p>
            <p>extension</p>
            <p>email</p>
        </div>

    </div>


</div>




























{% endblock search %}