{% extends 'layout.html' %}

{% block page_title %}
    SEARCH
{% endblock page_title %}


{% block search %}



<div class="title">
        <div class="checkbox_row">

        <div class="checkbox1">
                  <input type="checkbox" id="name" name="fruit-1" value="name" checked>
                  <label for="name">Search by name!</label>
        </div>
        <div class="checkbox2">
                  <input type="checkbox" id="dep" name="fruit-1" value="name">
                  <label for="dep">Search by department!</label>
        </div>

        </div>


            <div class="row">
                <form action="/" method="POST">

                    <input placeholder="search by employee" class="search_box">

                </form>
            </div>

 </div>
<div class="results">

    <div class="employee_info">

        <div class="photo">
            <img class="person" src="static/person.svg">
        </div>

        <div class="contact_details">
            <div>Name</div><div>{{test[0]}}</div>
            <div>Mobile</div><div>{{test[1]}}</div>
            <div>Extension</div><div>{{test[2]}}</div>
            <div>Email</div><div>{{test[3]}}</div>
            <div>Department</div><div>{{test[4]}}</div>
        </div>

    </div>

</div>



<script src="static/search.js"></script>
























{% endblock search %}